ul {
  list-style: none;
}


.container .row {
  margin-bottom: 1rem;
}

.container .row > [class^="col"] {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.schedule-text{
  margin-top:30px;
  text-align: center;
  font-size: 128px;
  background-size: 16px;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #AC0;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .3) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .3) 75%, transparent 75%, transparent);
}


